USE [QUANLYMYPHAM]
GO
/****** Object:  DatabaseRole [MSmerge_2503418BEABA4E7FBF31229131E325C3]    Script Date: 03-Nov-22 11:08:26 AM ******/
CREATE ROLE [MSmerge_2503418BEABA4E7FBF31229131E325C3]
GO
/****** Object:  DatabaseRole [MSmerge_F8449852D26D4880902790475C70C053]    Script Date: 03-Nov-22 11:08:26 AM ******/
CREATE ROLE [MSmerge_F8449852D26D4880902790475C70C053]
GO
/****** Object:  DatabaseRole [MSmerge_PAL_role]    Script Date: 03-Nov-22 11:08:26 AM ******/
CREATE ROLE [MSmerge_PAL_role]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_2503418BEABA4E7FBF31229131E325C3]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_F8449852D26D4880902790475C70C053]
GO
/****** Object:  Schema [MSmerge_PAL_role]    Script Date: 03-Nov-22 11:08:26 AM ******/
CREATE SCHEMA [MSmerge_PAL_role]
GO
/****** Object:  Table [dbo].[CHINHANH]    Script Date: 03-Nov-22 11:08:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHINHANH](
	[MACN] [char](4) NOT NULL,
	[TENCN] [nvarchar](40) NULL,
	[DIACHI] [nvarchar](40) NULL,
	[SDT] [nvarchar](10) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MACN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTHD]    Script Date: 03-Nov-22 11:08:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHD](
	[SOHD] [int] NOT NULL,
	[MASP] [char](4) NOT NULL,
	[SL] [int] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_CTHD] PRIMARY KEY CLUSTERED 
(
	[SOHD] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 03-Nov-22 11:08:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[SOHD] [int] NOT NULL,
	[NGHD] [date] NULL,
	[MAKH] [char](4) NULL,
	[MANV] [char](4) NULL,
	[TRIGIA] [money] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SOHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 03-Nov-22 11:08:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [char](4) NOT NULL,
	[HOTEN] [nvarchar](80) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[SDT] [nvarchar](10) NULL,
	[NGSINH] [date] NULL,
	[DOANHSO] [money] NULL,
	[NGDK] [date] NULL,
	[MACN] [char](4) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 03-Nov-22 11:08:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [char](4) NOT NULL,
	[HOTEN] [nvarchar](40) NULL,
	[GIOITINH] [nvarchar](4) NULL,
	[NGVL] [date] NULL,
	[CHUCVU] [nvarchar](30) NULL,
	[MACN] [char](4) NULL,
	[SDT] [nvarchar](10) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 03-Nov-22 11:08:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [char](4) NOT NULL,
	[TENSP] [nvarchar](40) NULL,
	[DVT] [nvarchar](20) NULL,
	[GIA] [money] NULL,
	[SLTON] [int] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CHINHANH] ([MACN], [TENCN], [DIACHI], [SDT], [rowguid]) VALUES (N'CN1 ', N'THIÊN ĐƯỜNG SWEET', N'812/9 ADV PHƯỜNG 4 QUẬN 3', N'0943792617', N'3a94315e-255b-ed11-b539-ac162d516697')
INSERT [dbo].[CHINHANH] ([MACN], [TENCN], [DIACHI], [SDT], [rowguid]) VALUES (N'CN2 ', N'THIÊN ĐƯỜNG SWEET', N'75/4 LVS PHƯỜNG 2 QUẬN 1', N'0943792389', N'3b94315e-255b-ed11-b539-ac162d516697')
GO
INSERT [dbo].[CTHD] ([SOHD], [MASP], [SL], [rowguid]) VALUES (1001, N'CF01', 1, N'7494315e-255b-ed11-b539-ac162d516697')
INSERT [dbo].[CTHD] ([SOHD], [MASP], [SL], [rowguid]) VALUES (1001, N'CF02', 1, N'7594315e-255b-ed11-b539-ac162d516697')
INSERT [dbo].[CTHD] ([SOHD], [MASP], [SL], [rowguid]) VALUES (1001, N'TP02', 2, N'7694315e-255b-ed11-b539-ac162d516697')
GO
INSERT [dbo].[HOADON] ([SOHD], [NGHD], [MAKH], [MANV], [TRIGIA], [rowguid]) VALUES (1001, CAST(N'2020-12-25' AS Date), N'K001', N'NV01', 35000.0000, N'6094315e-255b-ed11-b539-ac162d516697')
INSERT [dbo].[HOADON] ([SOHD], [NGHD], [MAKH], [MANV], [TRIGIA], [rowguid]) VALUES (1002, CAST(N'2020-12-27' AS Date), NULL, N'NV02', 107000.0000, N'6194315e-255b-ed11-b539-ac162d516697')
INSERT [dbo].[HOADON] ([SOHD], [NGHD], [MAKH], [MANV], [TRIGIA], [rowguid]) VALUES (1003, CAST(N'2021-01-10' AS Date), NULL, N'NV01', 130000.0000, N'6294315e-255b-ed11-b539-ac162d516697')
GO
INSERT [dbo].[KHACHHANG] ([MAKH], [HOTEN], [DIACHI], [SDT], [NGSINH], [DOANHSO], [NGDK], [MACN], [rowguid]) VALUES (N'K001', N'Phạm Thị Minh Châu', N'98,Ấp 1, xã Phước Long, huyện Giồng Trôm, tỉnh Bến Tre', N'0361051729', CAST(N'2002-11-08' AS Date), 595000.0000, CAST(N'2020-12-25' AS Date), N'CN1 ', N'3c94315e-255b-ed11-b539-ac162d516697')
INSERT [dbo].[KHACHHANG] ([MAKH], [HOTEN], [DIACHI], [SDT], [NGSINH], [DOANHSO], [NGDK], [MACN], [rowguid]) VALUES (N'K002', N'Ngô Phạm Hoàn Châu', N'410, Ấp 5, xã  Sơn Phú, huyện Giồng Trôm, tỉnh Bến Tre', N'0381075089', CAST(N'1999-07-23' AS Date), 370000.0000, CAST(N'2021-01-28' AS Date), N'CN2 ', N'3d94315e-255b-ed11-b539-ac162d516697')
INSERT [dbo].[KHACHHANG] ([MAKH], [HOTEN], [DIACHI], [SDT], [NGSINH], [DOANHSO], [NGDK], [MACN], [rowguid]) VALUES (N'K003', N'Võ Quốc Huy', N'257, Ấp 6, xã Sơn Phú, huyện Giồng Trôm, tỉnh Bến Tre', N'0391082860', CAST(N'1995-05-04' AS Date), 737000.0000, CAST(N'2021-02-03' AS Date), N'CN1 ', N'3e94315e-255b-ed11-b539-ac162d516697')
GO
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [GIOITINH], [NGVL], [CHUCVU], [MACN], [SDT], [rowguid]) VALUES (N'NV01', N'Nguyễn Thị Diệu Ân', N'Nữ', CAST(N'2020-12-20' AS Date), N'Quản lý', N'CN1 ', N'0865469104', N'4694315e-255b-ed11-b539-ac162d516697')
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [GIOITINH], [NGVL], [CHUCVU], [MACN], [SDT], [rowguid]) VALUES (N'NV02', N'Trần Khánh Duy', N'Nam', CAST(N'2020-12-20' AS Date), N'Nhân viên', N'CN2 ', N'0349821209', N'4794315e-255b-ed11-b539-ac162d516697')
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [GIOITINH], [NGVL], [CHUCVU], [MACN], [SDT], [rowguid]) VALUES (N'NV03', N'Tạ Nguyễn Gia Hân', N'Nữ', CAST(N'2021-01-15' AS Date), N'Quản lý', N'CN2 ', N'0357377543', N'4894315e-255b-ed11-b539-ac162d516697')
GO
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [DVT], [GIA], [SLTON], [rowguid]) VALUES (N'CF01', N'SON 3CE', N'Thỏi', 10000.0000, 20, N'4b94315e-255b-ed11-b539-ac162d516697')
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [DVT], [GIA], [SLTON], [rowguid]) VALUES (N'CF02', N'KEM CHỐNG NẮNG ANESSA', N'Tuýt', 15000.0000, 30, N'4c94315e-255b-ed11-b539-ac162d516697')
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [DVT], [GIA], [SLTON], [rowguid]) VALUES (N'CF03', N'KEM CHÔNG NẮNG VICHY', N'Tuýt', 15000.0000, 20, N'4d94315e-255b-ed11-b539-ac162d516697')
GO
ALTER TABLE [dbo].[CHINHANH] ADD  CONSTRAINT [MSmerge_df_rowguid_F9F8E4B753134B9F99F18CED18ABE169]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[CTHD] ADD  CONSTRAINT [MSmerge_df_rowguid_CD12ACD349A9487481D96B019B303870]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[HOADON] ADD  CONSTRAINT [MSmerge_df_rowguid_AC5BCAF564BD48CE9A43162D78AE165B]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[KHACHHANG] ADD  CONSTRAINT [MSmerge_df_rowguid_78FF8F99D22845CE86457EB9F16ED721]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [MSmerge_df_rowguid_85D078BBA160486C8D967BE02949C6DC]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[SANPHAM] ADD  CONSTRAINT [MSmerge_df_rowguid_92F4F0C449084187A43E3952DFE49B90]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD FOREIGN KEY([SOHD])
REFERENCES [dbo].[HOADON] ([SOHD])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
